<div *ngIf="bio$ | async as bio"
     class="d-flex justify-content-center vw-90 mx-auto">
  <div *ngFor="let options of respOptions"
       class="flex-column align-items-center text-center w-75"
       [ngClass]="options.viewClasses">
    <h1 class="mb-5"
        [ngClass]="options.headingClass">
      <span class="font-weight-bold">About</span>
      Me
    </h1>
    <div *ngFor="let par of bio.about">
      <p *ngIf="!options.useSmallerHeadings"
         class="mb-4 h4">{{par}}</p>
      <p *ngIf="options.useSmallerHeadings"
         class="mb-4 h5">{{par}}</p>
    </div>
  </div>
</div>
