<div class="d-flex min-vh-10 w-100 justify-content-center pb-3 pt-3 pr-4 pl-4">
  <div *ngIf="bio$ | async as bio"
       class="d-flex justify-content-start"
       routerLink="/">
    <h2 class="font-weight-bold">{{bio.firstName}}</h2>
    <h2 class="font-weight-light">{{bio.lastName}}</h2>
  </div>
  <div class="d-none d-md-flex flex-grow-1 justify-content-end align-items-start">
    <button *ngFor="let item of menuItems"
            class="ml-2 mr-2 btn btn-outline-dark border-0 font-weight-bold"
            type="button"
            [fragment]="(isHome$ | async) ? item.fragment : ''"
            [routerLink]="(isHome$ | async) ? item.homePath : item.pagePath">{{item.title}}</button>
  </div>
  <div class="d-flex d-md-none justify-content-end flex-grow-1">
    <div class="d-inline-block"
         container="body"
         display="dynamic"
         ngbDropdown>
      <button class="btn btn-outline-dark border-0"
              ngbDropdownToggle>
        <i class="fas fa-lg fa-bars"></i>
      </button>
      <div class="dropdown-menu dropdown-menu-right"
           ngbDropdownMenu>
        <button *ngFor="let item of menuItems"
                ngbDropdownItem
                [fragment]="(isHome$ | async) ? item.fragment : ''"
                [routerLink]="(isHome$ | async) ? item.homePath : item.pagePath">{{item.title}}</button>
      </div>
    </div>
  </div>
</div>
