/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@use "~bootstrap/scss/bootstrap";
@use "roboto.scss";

html, body {
  height: 100%;
  width: 100%;
}

body {
  background: white;
  background-image: radial-gradient(lightgray 5.5%, transparent 0);
  background-size: 30px 30px;
  font-family: "Nunito", Arial, Verdana, Geneva, Tahoma, sans-serif;
}

.vw-90 {
  width: 90vw;
}

.vw-80 {
  width: 80vw;
}

.vw-70 {
  width: 80vw;
}

.min-vh-10 {
  min-height: 10vh;
}
